<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand " href="index.html">
        <div class=d-flex>
          <img src="/assets/images/南洋風logo-02.png" alt="" width="100" height="60" class="d-inline-block align-text-top">
              <div>
                    <p>南洋瘋遊趣</p>
                    <h3 class="text-success">VoySEA</h3>
              </div>       
        </div>     
      </a>
      <form class="d-flex">
        <div class="input-group flex-grow-1 position-relative">
          <input type="search" class="form-control border-gray-200 text-black-50" placeholder="快速搜尋全站" aria-label="Search">
          <a class="d-block position-absolute d-flex align-items-center top-50 end-0 translate-middle" 
              type="button" id="button-addon1"
              href="search.html">
            <span class="material-symbols-outlined text-accent-200">search</span>
          </a>      
        </div>
      </form>

      <ul class="navbar-nav header-links justify-content-lg-end align-items-start">
        <li class="mt-4 mt-lg-0 px-3">
          <a class="active p-12 p-lg-0 text-dark" aria-current="page" href="#">
            <i class="bi bi-heart"></i>
            我的收藏</a>
        </li>
        <li class="mt-4 mt-lg-0 px-3">
          <a class="p-12 p-lg-0 text-dark" href="shopping-1030.html">
            <i class="bi bi-bag"></i>
            我的訂單</a>
        </li>
        <li class="mt-4 mt-lg-0 px-3">
          <i class="bi bi-person-hearts text-primary"></i>
          <span class="text-primary">您好，Holly</span>
<!--      <a class="p-12 p-lg-0" href="login.html">
            <button type="button" class="btn btn-success btn-sm text-white">  
              <i class="bi bi-person-circle"></i>
              登入/註冊
            </button>
          </a>
 --> 
        </li>
      </ul>
    </div>
</nav>
